<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" style="padding: 0.5rem 1rem;">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/" style="font-size: 1.5rem;">
      <i class="fa-solid fa-compass"></i>
    </a>

    <!-- Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Left Links -->
      <div class="navbar-nav" style="margin-top: 0.5rem;">
        <a class="nav-link" href="/listings" style="font-size: 1rem;">Explore</a>
      </div>

      <!-- Right Links -->
      <div class="navbar-nav ms-auto" style="margin-top: 0.5rem;">
        <a class="nav-link" href="/listings/new" style="font-size: 1rem;">Add new listings</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup" style="font-weight: bold; font-size: 1rem;">Sign Up</a>
          <a class="nav-link" href="/login" style="font-weight: bold; font-size: 1rem;">Log in</a>
        <% } else { %>
          <span class="nav-link disabled text-dark" style="font-weight: bold; font-size: 1rem;">Welcome: <%= currUser.username %></span>
          <a class="nav-link" href="/logout" style="font-weight: bold; font-size: 1rem;">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
